/* App-specific styles */
#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* Remove any default margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensure full height */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
